* {
  box-sizing: border-box;
}

body {
  width:100vw;
  height: 100vh;
  overflow: auto;
  margin-left: 0px;
  margin-top: 0px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.top-strip:hover{
  background: linear-gradient(to left,lightblue, lightgrey,white);
}
#login-button.clicked {
  background-color: red;
}
#login-button:hover {
  background: linear-gradient(to right, orange, orangered);
}
#reg-button:hover {
  background: linear-gradient(to right, darkmagenta, forestgreen);
}
.below-top-strip:hover {
  background: linear-gradient(to left, darkslategray,forestgreen);

}
.close:hover{
  background:linear-gradient(to right,#CC0000,#FF0800);
  color: white;

}
#otp-taker{
  display: none;
}
#fp{
  color:slateblue;
  margin-left: 25%;
}
#fp:hover{
  color:black;
  margin-left: 25%;
}

/*small*/
@media screen and (min-width: 36px) and (max-width: 640px) {
    .top-strip{
    background: linear-gradient(to right,lightblue, lightgrey,white);
    height: 20vw; 
    width:100%;
    border-bottom: 1vw solid black;
    }

    #login-button {
        background: linear-gradient(to right, #ff8a00, #e52e71);
        color: #fff;
        border: none;
        padding: 2.3vw 4vw;
        border-radius: 5vw;
        margin-top: 3.5vw;
        margin-right: 4vw;
        float:right;
        font-size: 5vw;
        cursor: pointer;
    } 
    #reg-button {
        background: linear-gradient(to right, darkmagenta, green);
        color: #fff;
        border: none;
        padding: 2.3vw 4vw;
        border-radius: 5vw;
        margin-top: 3.5vw;
        margin-right: 5vw;
        float:right;
        font-size: 5vw;
        cursor: pointer;
    }
    .below-top-strip {
        background: linear-gradient(to right, darkslategray,forestgreen);
        height: 50vw;

    }
    #logo{
        float:left;
        padding-top: 4vw;
        margin-top: 0vw;
        height: 30vw;
        width: 70vw;

    }
    .tagline{
        color:white;
        float: left;
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
        margin-left: 8vw;
        font-size: 5vw;

    }
    #login-form{
        display: none;
        position:fixed;
        top: 50%;
        left: 50%;
        width:70vw;
        height:86vw;
        margin-left: -35vw;
        margin-top: -43vw;
        border: 0.3vw solid black;
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
        font-weight: 400;
        font-size: 4vw;
        font-style: italic;
        background: linear-gradient(to right,lightblue, white);
        color: #3D3C3A;
    }
    .header-form{
        height: 8vw;
        background: linear-gradient(to right, #0039a6,#3457D5,lightblue);
    }
    .close {
        position: absolute; 
        top: 0vw; 
        right: 0vw; 
        width: 10vw;
        height: 8vw;
        font-size: 7vw; 
        text-align: center;
        color: red;
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
        text-decoration: none; 
        background:linear-gradient(to right,white,lightblue);

    }
    #reg-form{
        display: none;
        position:fixed;
        top: 50%;
        left: 50%;
        width:80vw;
        height:96vw;
        margin-left: -40vw;
        margin-top: -48vw;
        border: 0.2vw solid black;
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
        font-size: 4vw;
        background: linear-gradient(to right,lightblue, white);

    }
    #create-pswd-form{
        display: none;
        position:fixed;
        top: 50%;
        left: 50%;
        width:80vw;
        height:70vw;
        margin-left: -40vw;
        margin-top: -35vw;
        border: 0.2vw solid black;
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
        font-size: 4vw;
        background: linear-gradient(to right,lightblue, white);

    }
    #cp,#rep{
        margin-left: 4vw;
    }
    #error-msg-form{
        display: none;
        position:fixed;
        top: 50%;
        left: 50%;
        width:80vw;
        height:60vw;
        margin-left: -40vw;
        margin-top: -30vw;
        border: 0.28vw solid black;
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
        z-index: 3;
        background: linear-gradient(to right, lightblue, white);

    }
    .error{
        text-align: center;
        margin-top: 4vw;
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
        color:#FF0800;
        font-weight: 500;
    }
    .prefix{
        width:6vw;
        float: left;
        margin-left: 3vw;
        margin-top: 2.5vw;
    }

      .done-button{
      background: white;
      border: 0.3vw solid blue;
      color: blue;
      font-weight: 600;
      border-radius: 9vw;
      margin-left: 25vw;
      height: 12vw;
      width: 27vw;
      margin-top: 2vw; 
      font-size: 4vw;
      font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
      cursor: pointer;
    }
    .done-button:hover {
      background: blue;
      border-radius: 9vw;
      color: white;
    }
    .done-button:clicked {
      background: blue;
      border-radius: 9vw;
      color: white;
    }
    #pswd_box_login{
      margin-left: 13vw;
    }
    #m_number_box_login{
      margin-left: 4vw;
    }
    .input_box{
      margin-left: 3vw;
      height: 10vw;
      width: 60vw;

    }
     .input_box[type="text"]{
      font-size:5vw;
    }
    .input_box[type="number"]
    {
      font-size:5vw;
    } 

}


/*middle*/
@media screen and (min-width: 641px) and (max-width: 1000px) {

    .top-strip{
        background: linear-gradient(to right,lightblue, lightgrey,white);
        height: 12vw; 
        width:100%;
        border-bottom: 0.6vw solid black;
    }  
    #login-button {
        background: linear-gradient(to right, #ff8a00, #e52e71);
        color: #fff;
        border: none;
        padding: 1.6vw 3vw;
        border-radius: 3vw;
        margin-top: 2.5vw;
        margin-right: 3vw;
        float:right;
        font-size: 3vw;
        cursor: pointer;
    } 
    #reg-button {
        background: linear-gradient(to right, darkmagenta, green);
        color: #fff;
        border: none;
        padding: 1.6vw 3vw;
        border-radius: 3vw;
        margin-top: 2.5vw;
        margin-right: 3vw;
        float:right;
        font-size: 3vw;
        cursor: pointer;
    }
    .below-top-strip {
        background: linear-gradient(to right, darkslategray,forestgreen);
        height: 35vw;

    }
    #logo{
        float:left;
        padding-top: 3vw;
        margin-top: 0vw;
        height: 20vw;
        width: 60vw;

    }

    .tagline{
        color:white;
        float: left;
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
        margin-left: 6vw;
        font-size: 4vw;

    }

    #login-form{
        display: none;
        position:fixed;
        top: 50%;
        left: 50%;
        width:50vw;
        height:60vw;
        margin-left: -25vw;
        margin-top: -30vw;
        border: 0.2vw solid black;
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
        font-weight: 400;
        font-size: 3vw;
        font-style: italic;
        background: linear-gradient(to right,lightblue, white);
        color: #3D3C3A;
    }
    .header-form{
        height: 5vw;
        background: linear-gradient(to right, #0039a6,#3457D5,lightblue);

    }
    .close {
        position: absolute; 
        top: 0vw; 
        right: 0vw; 
        width: 7vw;
        height: 5vw;
        font-size: 4vw; 
        text-align: center;
        color: red;
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
        text-decoration: none; 
        background:linear-gradient(to right,white,lightblue);

    }
    .input_box{
      margin-left: 3vw;
      height: 5vw;
      width: 30vw;

    }
     .input_box[type="text"]{
      font-size:3vw;
    }
    .input_box[type="number"]
    {
      font-size:3vw;
    } 
    
    #reg-form{
        display: none;
        position:fixed;
        top: 50%;
        left: 50%;
        width:45vw;
        height:55vw;
        margin-left: -22.5vw;
        margin-top: -27.5vw;
        border: 0.17vw solid black;
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
        font-size: 3vw;
        background: linear-gradient(to right,lightblue, white);

    }
    #create-pswd-form{
        display: none;
        position:fixed;
        top: 50%;
        left: 50%;
        width:45vw;
        height:40vw;
        margin-left: -22.5vw;
        margin-top: -20vw;
        border: 0.25vw solid black;
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
        font-size: 3vw;
        background: linear-gradient(to right,lightblue, white);

    }
    #cp,#rep{
      margin-left: 2vw;
    }

    #error-msg-form{
        display: none;
        position:fixed;
        top: 50%;
        left: 50%;
        width:55vw;
        height:30vw;
        margin-left: -27.5vw;
        margin-top: -15vw;
        border: 0.25vw solid black;
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
        z-index: 3;
        background: linear-gradient(to right, lightblue, white);

    }
    .error{
        text-align: center;
        margin-top: 3vw;
        color:red;
        font-weight: bold;
    }
    .prefix{
        width:4.5vw;
        float: left;
        margin-left: 3vw;
        margin-top: 1vw;
    }

    .done-button{
      background: white;
      border: 0.25vw solid blue;
      color: blue;
      font-weight: 600;
      border-radius: 3vw;
      margin-left: 15vw;
      height: 6vw;
      width: 18vw;
      margin-top: 2vw; 
      font-size: 2.7vw;
      font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
      cursor: pointer;
    }
    .done-button:hover {
      background: blue;
      border-radius: 2.5vw;
      color: white;
    }
    #pswd_box_login{
      margin-left: 10vw;
    }
    
    


}

/*large*/
@media screen and (min-width: 1001px) and (max-width: 3000px) {

    .top-strip{
        background: linear-gradient(to right,lightblue, lightgrey,white);
        height: 8vw; 
        width:100%;
        border-bottom: 0.4vw solid black;
    } 
    #login-button {
        background: linear-gradient(to right, #ff8a00, #e52e71);
        color: #fff;
        border: none;
        padding: 1.2vw 2.4vw;
        border-radius: 2.5vw;
        margin-top: 2vw;
        margin-right: 2vw;
        float:right;
        font-size: 1.6vw;
        cursor: pointer;
    } 
    #reg-button {
        background: linear-gradient(to right, darkmagenta, green);
        color: #fff;
        border: none;
        padding: 1.2vw 2.4vw;
        border-radius: 2.5vw;
        margin-top: 2vw;
        margin-right: 3vw;
        float:right;
        font-size: 1.6vw;
        cursor: pointer;
    }
    .below-top-strip {
        background: linear-gradient(to right, darkslategray,forestgreen);
        height: 30vw;

    }
    #logo{
        float:left;
        padding-top: 2vw;
        margin-top: 0vw;
        height: 15vw;
        width: 50vw;

    }
    .tagline{
        color:white;
        float: left;
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
        margin-left: 5vw;
        font-size: 4vw;

    }

    #login-form{
        display: none;
        position:fixed;
        top: 50%;
        left: 50%;
        width:30vw;
        height:36vw;
        font-size: 1.8vw;
        margin-left: -15vw;
        margin-top: -18vw;
        border: 0.1vw solid black;
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
        font-weight: 500;
        font-style: italic;
        background: linear-gradient(to right,lightblue, white);
        color: #3D3C3A;
    }
    .header-form{
        height: 3.4vw;
        background: linear-gradient(to right, #0039a6,#3457D5,lightblue);
    }
    .close {
        position: absolute; 
        top: 0vw; 
        right: 0vw; 
        width: 5vw;
        font-size: 2.8vw; 
        text-align: center;
        color: red;
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
        text-decoration: none; 
        background:linear-gradient(to right,white,lightblue);

    }
    #reg-form{
        display: none;
        position:fixed;
        top: 50%;
        left: 50%;
        width:30vw;
        height:35vw;
        margin-left: -15vw;
        margin-top: -17.5vw;
        border: 0.1vw solid black;
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
        font-size: 1.8vw;
        background: linear-gradient(to right,lightblue, white);

    }
    #create-pswd-form{
        display: none;
        position:fixed;
        top: 50%;
        left: 50%;
        width:30vw;
        height:30vw;
        margin-left: -15vw;
        margin-top: -15vw;
        border: 0.2vw solid black;
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
        font-size: 1.8vw;
        background: linear-gradient(to right,lightblue, white);

    }
    #cp,#rep,#first-pswd,#second-pswd{
      margin-left: 3vw;
    }
    
    #error-msg-form{
        display: none;
        position:fixed;
        top: 50%;
        left: 50%;
        width:25vw;
        height:15vw;
        margin-left: -12.5vw;
        margin-top: -7.5vw;
        border: 0.2vw solid black;
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
        z-index: 3;
        background: linear-gradient(to right, lightblue, white);

    }
    .error{
        text-align: center;
        margin-top: 2vw;
        color:red;
        font-weight: bold;
    }
    .prefix{
        width:3.5vw;
        float: left;
        margin-left: 2vw;
        font-size: 2vw;
        margin-top: 0.5vw;
    }
    .done-button{
      background: white;
      border: 0.2vw solid blue;
      color: blue;
      font-weight: 750;
      border-radius: 2vw;
      margin-left: 12vw;
      height: 3.5vw;
      width: 10vw;
      margin-top: 2vw; 
      font-size: 1.2vw;
      font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
      cursor: pointer;
    }
    .done-button:hover {
      background: blue;
      border-radius: 1vw;
      color: white;
      border-radius: 2vw;
    }
    #pswd_box_login{
      margin-left: 5.5vw;
    }
    .input_box{
      height: 3.5vw;

    }
    .input_box[type="text"]
    {
      font-size:1.8vw;
    }
    .input_box[type="number"]
    {
      font-size:1.8vw;
    } 
    #otp-box{
      width:10vw;
      margin-left: 2vw;
    } 
}

