<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Facebook</title>
    <link rel="stylesheet" type = "text/css" href="/css_index">
    
  </head>
  <body class = "body">
    
   
    <div id = "login_form" >
    <form method="post" action='/login' >
      <input type="text" name = "email_or_phone"  placeholder="Email or phone">
      <div id = "phoneEmailError" ><%=displayPhoneEmailError%></div>

  
      <input type="password" name = "password"  placeholder="Password">
        <div><%=displayPasswordError%></div>
        <br>
        
        <a href = "/find">
      <input type="submit" value="log in">
      </a>
      </form>
      <br>
      <br>
      
        <label for="new_user" >New User ?</label>
      
      
      <br>
      <br>
      <a href="/registration">
      <input type="submit" value="Register"   >
      </a>
    </div>
	<script src="../js/index.js" type="module" href = '/index_js'></script>
  </body>
</html>